
<script >
  console.log('script')
  $('#deleteButton').click(function(){
    //send event to server
    console.log('being clicked')
    alert('button clicked delete user');
  })
</script>

    
    <table class="table">
      <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Email</th>
        <th>StudentId</th>
        <th>Score</th>
        <th>Delete</th>
      </tr>
      {{#each documents}}
      <tr>
        <td> {{counter @index }}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.studentId}}</td>
        <td>{{this.score}}</td>    
        <td><button type="button" class="btn btn-danger btn-xs" 
            onclick="
            if(confirm('You are going to delete {{this.name}}') === true){
              //send event to db
              $.ajax({
              url: '/admin/student/{{this.studentId}}',
              type:'DELETE',
              success: function(result){
                location.reload();
              }

              })
              }else{
              //do nothing
              }">Delete</button></td>
      </tr>
      {{/each}}
    </table>  
  
